1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1='This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

No difference between test2 and test1

In [2]:
with open('test.txt','r') as file:
    test2=file.read()
    print(test2)

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [22]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("create TABLE books (title text, author text, year int) ")
db.commit()
db.close()

5. Read books.csv and insert its data into the book table.

In [23]:
import csv
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  
    
    for row in reader:
        # Extract the data from the row
        title = row[0]
        author = row[1]
        year = int(row[2])

        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                       (title, author, year))

conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [28]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for i in output:
    print(i[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [29]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for i in ouput:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [30]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [31]:
!pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [37]:
try:
    import redis
    r = redis.Redis()
    r.hset('test', 'count', 1)
    r.hset('test', 'name', 'Fester Bestertester')
    fields = r.hgetall('test')
    for field, value in fields.items():
        print(f"{field.decode()}: {value.decode()}")
except Exception as e:
    print(e)

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

10. Increment the count field of test and print it.

In [35]:
try:
    conn.hincrby('test','count', 3)
except Exception as e:
    print(e)

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.